<section class="bg-dark" id="cell">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Donate your old cell phone</h2>
                <hr class="light">
                <p class="text-faded">
                  <p>
                    Empower the people of Katete, Zambia and help change lives – learn more
                    about how you can make a difference!
                  </p>
                <a href="/donate-cell-phones" class="btn btn-default btn-xl page-scroll">Learn More</a>
            </div>
        </div>
    </div>
</section>
