<header>
    <div class="header-content">
        <div class="header-content-inner">
          <h1>Empowering Communities,<br/>Building Futures</h1>
            <hr>
            <p>
              Join us in nurturing hope and creating sustainable opportunities
              for families in Zambia. Your support can turn dreams into
              realities for generations to come.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
