<section class="no-padding" id="projects">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/21136?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/martha.png" class="img-responsive" alt="Martha">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nutritional Security
                            </div>
                            <div class="project-name">
                                Fight Against Hunger with Matildah
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/21227?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/jason.png" class="img-responsive" alt="Jason">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Vocational Training
                            </div>
                            <div class="project-name">
                                Jason's Welding Journey
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/21186?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/mailess.png" class="img-responsive" alt="Mailess">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure Improvement
                            </div>
                            <div class="project-name">
                                Dorothy's Dream Salon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/21119?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/mathews.png" class="img-responsive" alt="Mathews">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Community Development
                            </div>
                            <div class="project-name">
                                Mathews' Shop for a Brighter Future
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/21110?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/well.png" class="img-responsive" alt="Bore hole">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Water Access
                            </div>
                            <div class="project-name">
                                Dina's Dream Well for Hope
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://donorsee.com/project/18908?share=1" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/madaliso.png" class="img-responsive" alt="Madaliso">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Agricultural Growth
                            </div>
                            <div class="project-name">
                                Securing Sustainable Farming with Madaliso's Orchard
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
